use Mix.Config

# In this file, we keep production configuration that
# you likely want to automate and keep it away from
# your version control system.
config :rumbl, Rumbl.Endpoint,
  secret_key_base: "0123456789012345678901234567890123456789012345678901234567890123"

# WolframAPI ID
config :rumbl, :wolfram, app_id: "12345-123456789A"

# Configure your database
config :rumbl, Rumbl.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "rumbl_prod",
  template: "template0",
  pool_size: 20
